<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleDisplayName</key>
	<string>$(APP_DISPLAY_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(APP_DISPLAY_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.getinboxzero.InboxZeroMail.oauth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>inboxzeromail</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>InboxZeroGmailClientID</key>
	<string>$(INBOX_ZERO_GMAIL_CLIENT_ID)</string>
	<key>InboxZeroGmailClientSecret</key>
	<string>$(INBOX_ZERO_GMAIL_CLIENT_SECRET)</string>
	<key>InboxZeroOutlookClientID</key>
	<string>$(INBOX_ZERO_OUTLOOK_CLIENT_ID)</string>
	<key>InboxZeroOutlookClientSecret</key>
	<string>$(INBOX_ZERO_OUTLOOK_CLIENT_SECRET)</string>
	<key>InboxZeroImageProxyBaseURL</key>
	<string>$(INBOX_ZERO_IMAGE_PROXY_BASE_URL)</string>
	<key>InboxZeroImageProxySigningSecret</key>
	<string>$(INBOX_ZERO_IMAGE_PROXY_SIGNING_SECRET)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>SUAllowsAutomaticUpdates</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>$(SPARKLE_APPCAST_URL)</string>
	<key>SUPublicEDKey</key>
	<string>$(SPARKLE_PUBLIC_ED_KEY)</string>
</dict>
</plist>
